
<!--COURSES DESCRIPTION -->
<div class="container desc">
    <div class="row" >
      
      <div class="col-lg-2 col-lg-offset-1">
        <h5>COURSES</h5>
      </div>
     
      <div class ="col-lg-2">
        <button type ="button" class="btn btn-info" routerLink="/nuevoCurs" *ngIf="isLogged">
             Nuevo Curso
        </button>
      </div>
        <table class="table"  >
          <tbody  >
                   
                   
              <tr *ngFor="let Curso of curs">
                
          <div class="col-lg-6 ">
            <p>
                <t>{{Curso.nombre}}</t><br/> 
                {{Curso.lugar}}<br/> 
            </p>
          </div>
         <div class="col-lg-3">
           <p>
           <sm>{{Curso.fecha}}</sm>
           </p>
         </div>  
         
        <td>
           <button class ="btn btn-ligth" routerLink="/editCurs/{{Curso.id}}"> <i class="bi bi-pencil-fill"  *ngIf="isLogged"></i>  
           </button>
        </td>
     
     
        <td> 
           <button class ="btn btn-ligth" (click)="delete(Curso.id)"> <i class="bi bi-trash3-fill"  *ngIf="isLogged"></i> 
           </button>
   
        </td>

      </tr>

   </tbody>

 </table> 
    </div>
  <!--/.row -->
    <br>
    <hr>
    
  </div>
     <!--/.container -->
  
    

    
    
  
    
    
