  
    <!--SKILLS DESCRIPTION -->
    <div id="skillswrap">
    <div class="container">
      <div class="row">  
       
        <div class="col-lg-2 col-lg-offset-1">
          <h5>SKILLS</h5>
        </div>
        <div class="col-lg-3 centered">
          <circle-progress
          [percent]="50"
          [radius]="70"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#1abc9c'"
          [innerStrokeColor]="'#eee'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress> 
        
          <p>Javascript</p>
          <br>
        </div>
        <div class="col-lg-3 centered"> 
          
          <circle-progress
          [percent]="85"
          [radius]="70"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#1abc9c'"
          [innerStrokeColor]="'#eee'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
          <p>Bootstrap</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <circle-progress  
          [percent]="90"
          [radius]="70"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#1abc9c'"
          [innerStrokeColor]="'#eee'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
          <p>Angular</p>
          <br>
        </div>
    
        <div class="col-lg-3 col-lg-offset-3 centered">
          <circle-progress
          [percent]="70"
          [radius]="70"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#1abc9c'"
          [innerStrokeColor]="'#eee'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
          <p>HTML/CSS</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <circle-progress
          [percent]="40"
          [radius]="70"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#1abc9c'"
          [innerStrokeColor]="'#eee'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
          <p>Mysql</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <circle-progress
          [percent]="65"
          [radius]="70"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#1abc9c'"
          [innerStrokeColor]="'#eee'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
          <p>Java</p>
          <br>
        </div>
     
      </div> 
      
      <!--/.row -->
      <br>
    </div>
    <!--/.container -->
    </div>
    <!--/ #skillswrap -->
 
 